* {
  box-sizing: border-box;
  font-family: aleo;
  max-width: 99%;
  padding: 0.2rem;
  margin: 0;
}

article {
  background-color: orange;
  padding-right: 5rem
}

#discover {
  font-size: xx-large;
}

#phone-number {
  color: white;
}

strong {
  padding: 0;
}

body {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 10em 1fr 10em;
}

footer {
  display: grid;
  grid-template: 25% 75% / 50% 50%;
  background-color: lightgray;
  padding: 0.5rem;
}